.scrolling-text-wrapper {
  height: 5rem; /* adjust based on font size */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
}

.scrolling-text-item {
  position: absolute;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: #7ac1d6;
}

.scrolling-text-item.enter {
  opacity: 0;
  transform: translateY(20px);
}

.scrolling-text-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.scrolling-text-item.exit {
  opacity: 0;
  transform: translateY(-20px);
}
